<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi</title>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="paiskonteiner">
        <div class="container">
            <div class="menyyriba">
                <div class="logo">
                    <img class="klubilogo" src="./matkaklubi/pildid/Hills/klubilogo.png" alt="" />
                    <div class="klubinimi">Puhas Higi</div>
                </div>
                <div class="menyy">
                    <ul>
                        <li>Esileht</li>
                        <li>Kontakt</li>
                    </ul>
                </div>
            </div>
            <div class="row tiitliriba">
                <div class="pealkirjad col-lg-6">
                    <h2>
                        Liiguta ennast
                    </h2>
                    <h1>
                        Tule matkama
                    </h1>
                    <h3>
                        Siit leiad endale sobiva seikluse
                    </h3>
                    <button class="nupp-paises">
                        Võta ühendust
                    </button>
                </div>
                <div class="pealispilt d-none d-lg-block col-lg-6">
                    <img src="./matkaklubi/pildid/Image.png" alt="">
                </div>


            </div>
        </div>

    </div>
    <div class="container matkadekonteier">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="./matkaklubi/pildid/rattamatk2.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Rattamatk Tapal
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis expedita quisquam tenetur assumenda ullam ipsa, ut perspiciatis eveniet libero hic vero reprehenderit amet aperiam harum, delectus vel quibusdam consequatur esse!
                        </p>
                        <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="./matkaklubi/pildid/matk_tartus1.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Kepikõnnimatk Tartus
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, earum quibusdam? Esse, dolore quaerat ipsam dolor animi cumque temporibus perferendis in vitae corrupti nesciunt voluptatibus voluptatem mollitia alias nihil magnam.
                        </p>
                        <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="./matkaklubi/pildid/syst1.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Süstamatk Kõrvemaal
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur sed atque dolore. Molestias numquam deserunt libero. Facere tenetur nobis vero perspiciatis rerum distinctio animi magni, repellat modi saepe maxime beatae!
                        </p>
                        <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="./matkaklubi/pildid/kirsi6ied_tyril.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Jalutuskäik õitsevate kirsside keskel Türis
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit numquam temporibus, neque odit dolores quibusdam iusto, aperiam eligendi nobis qui cum aut architecto laboriosam, expedita soluta id quaerat illo officiis.
                        </p>
                        <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>