<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi</title>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="paiskonteiner">
        <div class="container">
            <% include ../partials/menyy.ejs %>
            <div class="row tiitliriba">
                <div class="pealkirjad col-lg-6">
                    <h2>
                        Liiguta ennast
                    </h2>
                    <h1>
                        Tule matkama
                    </h1>
                    <h3>
                        Siit leiad endale sobiva seikluse
                    </h3>
                    <button class="nupp-paises">
                        Võta ühendust
                    </button>
                </div>
                <div class="pealispilt d-none d-lg-block col-lg-6">
                    <img src="./matkaklubi/pildid/Image.png" alt="">
                </div>


            </div>
        </div>

    </div>
    <div class="container matkadekonteier">
        <div class="row">
            <% for ( let i = 0; i < matkad.length; i++) { %>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="<%= matkad[i].piltUrl %>">
                    <div class="card-body">
                        <h4 class="card-title">
                            <%= matkad[i].nimi %>
                        </h4>
                        <p class="card-text">
                            <%= matkad[i].kirjeldus %>
                        </p>
                        <a href="<%= matkad[i].registreeruUrl %>" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

    </div>


</body>

</html>