<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi - registreerumine</title>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container">
        <div class="menyyriba">
            <div class="logo">
                <img class="klubilogo" src="./matkaklubi/pildid/Hills/klubilogo.png" alt="" />
                <div class="klubinimi">Puhas Higi</div>
            </div>
            <div class="menyy">
                <ul>
                    <li>Esileht</li>
                    <li>Kontakt</li>
                </ul>
            </div>
        </div>
        <div class="row">
            Siia tuleb registreerumise vorm
        </div>
    </div>

</body>

</html>